body{
    font-family: "Rubik", "DM Serif Display";
    color: #402B2B;
    background-image: url(../images/Background_Scene.svg);
    background-position: left 114px top -68px;
    height: 1005px;
    background-repeat: no-repeat;
    background-color: #FEF8F5;
    
}
@media screen and (max-width:860px) {
    body{
        background-position: center top -68px;
        overflow-x: hidden;
    }
}


.container{
    margin: 0 auto;
    max-width: 1110px;
}


a{
    text-decoration: none;
    color: #ffffff;
}

li{

    display: block;
}

footer{
  position: absolute;
  left: 0;
  bottom: -2600px;
  width: 1518px;
    height: 205px;
  color: #FFFFFF;
  text-align: center;
  background-color:#F16353;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;

}
button{
    transition: 0.4s;
}

button:hover{
    color: white;
   background-color: #c23939;
}
@media screen and (max-width:860px) {

.container{
    max-width: 70%;
}
.footer{
    bottom: -3500px;
}    

}
@media screen and (max-width:860px){

    :root{
        font-size: 12px;
    }

    
}

@media screen and (min-width:860px) and (max-width:1500px){
    body{
        margin: 0 auto;  
        padding-left: 200px; 
        text-align: left;
    }
    footer{
        top: 4000px;
    }
}



