.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.laptop_form{
    margin: 100px;
    width: 300px;
}
.laptop_form input{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.laptop_form h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    
}
.laptop_form label{
    font-size: 17px;
}

#device_list-total-price{
    padding-bottom: 40px;
}

.items-table{
    width: 300px;
}
.items-table tr{
    margin: 0 auto;
    padding: 0 15px;
}
.items-table td{
    margin: 0 auto;
    padding: 0 15px;
}
.table-element{
    border: 2px solid black;
    border-radius: 40px;
}



.list-of-founded-devices{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.found-items-table{
    border: 1px solid black;
    margin: 0 auto;
    
}
.found-items{
    margin-right: 10px
}

.device_list{
    margin-top: 150px;
    width: 600px;
    height: 300px;
}
.form_title{
    display: block;
    text-align: center;
}

.items-info{
    margin-top: 50px;
}

