.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.device_create_form{
    margin: 100px;
    width: 270px;
    height: 400px;
}
.device_create_form input{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.device_create_form h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    
}
.device_create_form label{
    font-size: 17px;
}

.update_device_form{
    margin: 100px;
    width: 270px;
    height: 400px;
}

.update_device_form input{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.update_device_form h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    
}
.update_device_form label{
    font-size: 17px;
}

#device_list-total-price{
    padding-bottom: 40px;
}

.items-table{
    width: 180px;
    height: 200px;
}
.items-table p {
    display: flex;
    justify-content: center;
}
.items-table button {
    vertical-align: top;
    margin-left: 16px;
}
.item-card{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    
    
}

.table-element{
    border: 2px solid black;
    border-radius: 40px;
}
.item-image{
    width: 50%;
    height:50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.list-of-founded-devices{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.found-items-table{
    border: 1px solid black;
    margin: 0 auto;
    
}
.found-items{
    margin-right: 10px
}

.device_list{
    margin-top: 150px;
    width: 600px;
    height: 300px;
    margin-left: 300px;
}
.form_title{
    display: block;
    text-align: center;
}
.update-equipment-h2{
    display: none;
}
.form-update-button{
    display: none;
}

.items-info{
    position: absolute;
    height: 130px;
    width: 200px;
    margin-top: 570px;
    left: 189px;
    

    
}

.update_device_form{
    display: none;
}

.device_create_form{
    display: none;
}
.create_button{
    width: 150px;
    height: 50px;
    margin-top: 250px;
}

#form-update-button{
    display: none;
}
.update-equipment-h2{
    display: none;
}


