.hero-catalogue{
    width: 230px;
    height: 450px;
    color: white;
    padding: 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap ;
    justify-content: start;
    justify-items: start;
    list-style-type: none;  
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
  
  }
  .hero-catalogue li{
    padding: 3px;
    transition: 0.5s;
  }
  .hero-catalogue li:hover{
    text-decoration: underline;  
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
  }
  
  .hero-pictures{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 400px;
    margin: 100px;
    border-radius: 5px;
    margin-top: -450px;
    border: 2px solid white;
    float: right;
    background-color: rgb(187, 185, 185);
  }
  .hero-pictures button{
    text-align: center;
    background-color: white;
  }
  .hero-pictures button:hover{
    background-color: rgb(211, 211, 211);
  }
  
  