.footer-info{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 50px;
  }
  .footer-help{
    height: 170px;
    flex-direction: column;
    list-style-type: none;
  }
  .footer-help li:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .footer-social-medias{
    flex-direction: row;
  }
  .footer-company-name{
    font-size: 24px;
  }